<div class="page">
  <div class="counter-container">
    <span class="counter-title">Contador</span>
    <span class="counter-value">0</span>
    <p class="doubled-value">El doble es: 0</p>

    <div class="counter-buttons">
      <button class="btn-decrement">-</button>
      <button class="btn-reset">Reiniciar</button>
      <button class="btn-increment">+</button>
    </div>
  </div>

  <div class="divider">
    <span>Con signals</span>
  </div>

  <div class="color-picker-container">
    <div class="color-box" style="background-color: white;"></div>
    <div class="color-buttons">
      <button class="btn-color btn-red"></button>
      <button class="btn-color btn-blue"></button>
      <button class="btn-color btn-yellow"></button>
    </div>
  </div>

</div>
